body {
  min-height: 100vh; }

.container {
  max-width: 624px; }

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.header {
  background-color: #f4793b;
  height: 100px;
  display: flex;
  align-items: center; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center; }

.general {
  position: relative;
  min-height: calc(1080px - 100px);
  height: calc(100vh - 100px);
  padding-bottom: 20px;
  overflow: hidden; }
  .general::before {
    position: absolute;
    bottom: -16px;
    left: -22px;
    content: "";
    background: url(../img/girl.png) no-repeat center center;
    display: block;
    width: 567px;
    height: 937px;
    background-size: 100%; }
  .general::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    background: url(../img/men.png) no-repeat center center;
    display: block;
    width: 614px;
    height: 935px;
    background-size: 100%; }
  .general--msg {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    justify-content: center; }
    .general--msg .general__container {
      margin-top: 0; }
  .general__container {
    margin-top: 163px; }
  .general__desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: justify;
    line-height: 1.2;
    text-indent: 30px; }
  .general__header {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: normal;
    text-align: center; }
  .general__text {
    margin-top: 20px; }
  .general__footer {
    margin-top: 20px; }
    .general__footer .btn {
      height: 50px;
      width: 100%; }
    .general__footer #file {
      display: none; }
  .general__msg {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center; }
  .general__container {
    position: relative;
    z-index: 1; }
  .general textarea.form-control {
    min-height: 193px; }

.form-control {
  height: 50px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300; }

select.form-control {
  position: relative;
  background: url("../img/down.svg") no-repeat 95% center;
  background-color: white;
  background-size: 11px 11px; }

.file-name {
  background: white;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
  display: inline-block; }
  .file-name:empty {
    display: none; }

.btn {
  border-radius: 10px; }

.btn-primary {
  background: #f4793b;
  color: white;
  border-color: #f4793b; }
  .btn-primary:hover, .btn-primary:focus {
    background: #f4793b;
    color: white;
    border-color: #f4793b; }

.btn--outline {
  background-color: white;
  border: 1px solid #f4793b;
  color: #f4793b;
  line-height: 2; }
  .btn--outline:hover, .btn--outline:focus {
    color: #f4793b;
    background-color: white;
    border: 1px solid #f4793b; }

@media (max-width: 1400px) {
  .general {
    min-height: calc(768px - 100px); }
    .general::before {
      width: 402px;
      height: 624px;
      left: -51px;
      bottom: 0px; }
    .general::after {
      width: 409px;
      height: 623px;
      bottom: 0; }
    .general__container {
      margin-top: 56px; }
    .general__header {
      margin-bottom: 5px; }
    .general__desc {
      font-size: 14px;
      margin-bottom: 21px; } }

@media (max-height: 1024px) and (min-width: 1200px) {
  .general {
    min-height: calc(100vh - 100px); } }

@media (max-width: 768px) {
  .general::before, .general::after {
    display: none; }
  .general--msg {
    align-items: flex-start; }
    .general--msg::before {
      display: block;
      left: auto;
      right: auto;
      background-size: contain; }
  .general .general__msg {
    margin-top: 20px; } }

@media (max-width: 580px) {
  .form-item-1 {
    margin-bottom: 20px; } }

@media (max-height: 840px) {
  .general--msg::before {
    display: none; } }

@media (max-height: 768px) {
  body {
    min-height: 1080px; }
  .general {
    min-height: calc(1080px - 100px); } }

/*# sourceMappingURL=main.css.map */
