<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/">
        <img src="img/logo.png" alt="Logo">
      </a>
    </div>
    <div class="header__controls">
      <div class="header__menu">
        <nav class="nav">
          <a href="/about.html" class="nav__link">О компании</a>
          <a href="/factory.html" class="nav__link">Производство</a>
          <a href="/production.html" class="nav__link">Продукция</a>
          <a href="/contacts.html" class="nav__link">Контакты</a>
        </nav>
      </div>
      <div class="header__contact">
        <a href="tel:8 (800) 900 90 90" class="header__phone">8 (800) 900 90 90</a>
        <a href="mailto: email@email.com" class="header__email">email@email.com</a>
      </div>
    </div>
  </div>
</header>
