// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

$primary: #F4793B;

.body {
  font-family: var(--museo0);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.container {
  max-width: 624px;
}

.header {
  background-color: $primary;
  height: 100px;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.general {
  position: relative;
  min-height: calc(100vh - 100px);
  padding-bottom: 20px;
  overflow: hidden;

  &::before {
    position: absolute;
    bottom: 0;
    left: -32px;
    content: '';
    background: url(../img/girl.png) no-repeat center center;
    display: block;
    width: 400px;
    height: 660px;
    background-size: 100%;
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    background: url(../img/men.png) no-repeat center center;
    display: block;
    width: 400px;
    height: 620px;
  }

  &--msg {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    justify-content: center;
  }

  &__desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: justify;
  }

  &__header {
    font-size: 18px;
    margin-top: 60px;
    font-weight: normal;
    text-align: center;
  }

  &__text {
    margin-top: 20px;
  }

  &__footer {
    margin-top: 20px;
    .btn {
      height: 50px;
      width: 100%;
    }
    #file {
      display: none;
    }
  }

  &__msg {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  &__container {
    position: relative;
    z-index: 1;
  }
}

.form-control {
  height: 50px;
}

select.form-control {
  position: relative;
  background: url('../img/down.svg') no-repeat 95% center;
  background-color: white;
  background-size: 11px 11px;
}

.file-name {
  background: white;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
  display: inline-block;

  &:empty {
    display: none;
  }
}

.btn-primary {
  background: $primary;
  color: white;
  border-color: $primary;

  &:hover,
  &:focus {
    background: $primary;
    color: white;
    border-color: $primary;
  }
}

.btn--outline {
  background-color: white;
  border: 1px solid $primary;
  color: $primary;
  line-height: 2;

  &:hover,
  &:focus {
    color: $primary;
    background-color: white;
    border: 1px solid $primary;
  }
}

@media (max-width: 768px) {
  .general {
    &::before,
    &::after {
      display: none;
    }

    &--msg {
      align-items: flex-start;

      &::before {
        display: block;
        left: auto;
        right: auto;
        background-size: contain;
      }
    }

    .general__msg {
      margin-top: 20px;
    }
  }
}

@media (max-width: 580px) {
  .form-item-1 {
    margin-bottom: 20px;
  }
}


@media (max-height: 840px) {
  .general {
    &--msg {
      &::before {
        display: none;
      }
    }
  }
}
